html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  height: 100vh; /* Adjust height as needed */
}
.control-panel {
  position: absolute;
  z-index: 9999;
  background-color: black;
}
.black-text{
  color: black;
}
.zip-box {
  
}